/* Reset default styles */
html, body, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #000000;
  color: #fff;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

header.dark-mode {
  background-color: #000000;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
}

.menu a.dark-mode {
  color: #ffffff;
}

.dark-mode-switch {
  text-align: right;
  padding: 10px;
}

.dark-mode-switch label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #d31313;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.dark-mode-switch label.dark-mode {
  background-color: #ccc;
}

.dark-mode-switch label::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.dark-mode-switch label.dark-mode::after {
  background-color: #333;
  transform: translateX(20px);
}

.dark-mode-switch input[type="checkbox"] {
  display: none;
}

.dark-mode-switch input[type="checkbox"]:checked + label {
  background-color: #333;
}

.dark-mode-switch input[type="checkbox"]:checked + label::after {
  transform: translateX(20px);
}

#profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  object-fit: cover;
  transition: filter 0.3s;
}

#profile-photo.dark-mode {
  filter: brightness(70%);
}

h1, p {
  text-align: center;
  color: #000000;
  transition: color 0.3s;
}

h1.dark-mode,
p.dark-mode {
  color: #ffffff;
}

.download-button, .fallback-link {
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  background-color: #000000;
  color: #03ff24;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.download-button:hover, .fallback-link:hover {
  background-color: #00ff4c;
}

.download-button.dark-mode,
.fallback-link.dark-mode {
  background-color: #fff;
  color: #000000;
}

.download-button.dark-mode:hover,
.fallback-link.dark-mode:hover {
  background-color: #00ffc8;
  color: #333; 
}

.section-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.section-buttons button {
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.section-buttons button:hover {
  background-color: #555;
}

.section-buttons button.dark-mode {
  background-color: #222;
  color: #fff;
}

.content-section {
  display: none;
  padding: 20px;
  background-color: #fff;
  color: #333; 
  transition: background-color 0.3s, color 0.3s;
}

.content-section.dark-mode {
  background-color: #000000;
  color: #fff;
}

/* Additional Styles for Dark Mode */
body.dark-mode header,
body.dark-mode .section-buttons button {
  background-color: #000000;
  color: #fff;
}

body.dark-mode #profile-photo {
  filter: brightness(70%);
}

body.dark-mode .download-button,
body.dark-mode .fallback-link {
  background-color: #fff;
  color: #000000;
}

body.dark-mode .download-button:hover,
body.dark-mode .fallback-link:hover {
  background-color: #00ffc8;
  color: #333; 
}

body.dark-mode .content-section {
  background-color: #000000;
  color: #fff;
}

body.dark-mode .project h3,
body.dark-mode .experience-item p,
body.dark-mode .education-item p {
  color: #fff;
}

footer {
  background-color: #ffffff;
  padding: 20px;
  color: #000000;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

footer.dark-mode {
  background-color: #000000;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

footer p {
  margin-top: 10px;
  color: #fff;
}

#about p {
  color: #000000;
}

#about p.dark-mode {
  color: #fff;
}
